#banner
	.banner_content
		%h1 Important Heading
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia magni nisi repudiandae repellat quisquam suscipit voluptas!
		%button= link_to "CTA Button", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Sub Heading
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni esse animi accusantium ex facilis in ipsum perspiciatis commodi officiis ea debitis consequatur non, ratione tenetur quis, cupiditate. Similique, maxime natus.

#bottom_cta
	.wrapper
		%h2 Invite Heading
		%p Lorem ipsum dolor sit amet, consectetur!
		%button= link_to "CTA Button", new_user_registration_path